<%@ page pageEncoding="UTF-8" %>
body {
    background-color: #eee;
    color: #333;
    font-family: sans-serif;
}

body > div {
    display: inline-block;
    vertical-align: top;
}

#header-box {
    color: #eba300;
}

#results-table {
    text-align: right;
}

#results-table tr:hover {
    background-color: #fff;
}

#results-table thead, #results-table tbody, #results-table tfoot {
    display: block;
}

#results-table tbody {
    height: 600px;
    overflow: scroll;
}

#results-table tbody td:first-child ~ td, #results-table thead th:first-child ~ th {
    width: 150px;
}

.invalid-input {
    color: #f00;
    visibility: hidden;
}

line {
    stroke: black;
}

circle {
    fill: black;
}

#r1-path {
    fill: #cdf;
}

#r2-path {
    fill: #cff;
}

#r3-path {
    fill: #ccf;
}

#r4-path {
    fill: #6ff;
}

#r5-path {
    fill: #6cf;
}
